<h4 class="account-title">アカウント画面</h4>
<%= render "shared/user" %>
<div class="account-info">
    <div class="account-email">
        <label>メールアドレス</label>
        <%= @user.email%> 
    </div>

    <div class="account-password">
        <label>パスワード</label>
        <div>※※※※※※※※※</div>  
    </div>

    <div class="account-btn">
        <%= link_to "編集", edit_user_registration_path, class: "btn user-btn user-btn-edit" %>
    </div>
</div>

