<label for="hotel">予約した部屋</label>

 <%= @reservation.hotel.hotel_name%>
<label for="reservation_start_date">開始日</label>
<%= @reservation.start_date %>
<label for="reservation_end_date">終了日</label>
<%= @reservation.end_date %>
<label for="hotel">価格</label>
   <%= @days * @reservation.hotel.hotel_price * @reservation.human%>円
   
   